<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marni.registerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentation.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.marni.orderapp.Presentation.RegisterActivity" />
        <activity android:name="com.example.marni.orderapp.Presentation.TopUpActivity" />
        <activity android:name="com.example.marni.orderapp.Presentation.AllergyInfoActivity" />
        <activity android:name="com.example.marni.orderapp.Presentation.OrderHistoryActivity" />
        <activity android:name="com.example.marni.orderapp.Presentation.OrderActivity" />
        <activity android:name="com.example.marni.orderapp.Presentation.AssortmentActivity" />
        <activity android:name=".Presentation.OrderHistoryActivity" />
        <activity android:name=".Presentation.EditProductActivity" />
        <activity android:name=".Presentation.OrderActivity"></activity>
    </application>

</manifest>