<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marni.registerapp">

    <!-- NFC Reader Mode was added in API 19. -->
    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Presentation.Presentation.Activities.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Presentation.Presentation.Activities.EditProductActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentation.Presentation.Activities.AssortmentActivity"
            />
        </activity>
        <activity android:name=".Presentation.Presentation.Activities.AddProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Presentation.Presentation.Activities.AssortmentActivity"
                />
        </activity>
        <activity android:name=".Presentation.Presentation.Activities.DeviceInformationActivity">
        <!--<meta-data-->
            <!--android:name="android.support.PARENT_ACTIVITY"-->
            <!--android:value=".Presentation.Presentation.Activities.RegisterHistoryDetailActivity"-->
            <!--/>-->
        </activity>
        <activity android:name=".Presentation.Presentation.Activities.RegisterHistoryDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Presentation.Presentation.Activities.RegisterHistoryActivity"
                />
        </activity>

        <activity android:name=".Presentation.Presentation.Activities.OrderDetailActivity"/>
        <activity android:name=".Presentation.Presentation.Activities.RegisterHistoryActivity"/>
        <activity android:name=".Presentation.Presentation.Activities.AssortmentActivity"/>
        <activity android:name=".Presentation.Presentation.Activities.PaymentPendingActivity"/>

    </application>

</manifest>